/* GLOBAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  font-size: 16px;
  color: #5a5a5a;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

/* START HEADER */
header {
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
.dark header {
  background-color: #000;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo a {
  font-size: 1.8rem;
  color: #dc4f72;
  text-decoration: none;
  width: 25%;
}
.header__logo span {
  text-transform: capitalize;
  font-weight: 500;
}
header .nav {
  align-items: center;
  width: 65%;
}

.nav-item {
  display: inline-block;
  margin-left: 1.875rem;
}
.nav-link {
  position: relative;
  padding: 0;
  color: #5a5a5a;
  font-size: 1rem;
  transition: all 0.5s;
}

.nav-link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.1875rem;
  left: 0;
  height: 0.125rem;
  width: 0;
  background-color: #dc4f72;
  transition: all 0.5s;
}
.nav-item:hover .nav-link,
.nav-link.active {
  color: #dc4f72;
}
.nav-item:hover .nav-link::before {
  width: 1.25rem;
}
.nav-link.dropdown-toggle:focus {
  color: #5a5a5a;
}
.nav-link.dropdown-toggle:focus::before {
  display: none;
}
.nav-item:hover .nav-link::after {
  color: #dc4f72;
}
.dropdown-item {
  position: relative;
  transition: all 0.5s;
}
.dropdown-item::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #dc4f72;
  bottom: -0.1875rem;
  left: 1.56rem;
  height: 0.125rem;
  width: 0px;
  transition: all 0.5s;
}
.nav .dropdown-item:hover::before {
  width: 1.56rem;
}
.dropdown-item:hover {
  background-color: white;
  color: #dc4f72;
}

.nav .icon__search i {
  font-size: 1rem;
  color: #5a5a5a;
  font-weight: 900;
  opacity: 0.7;
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 25px;
  border-radius: 50%;
  line-height: 2.3rem;
  text-align: center;
  background-color: #f7f9fc;
  border: 1px solid #eee;
  cursor: pointer;
}
.dark .icon__search i {
  color: #b7b7b7;
  background-color: #191c1d;
  border: 1px solid #333;
}
.nav .icon__search:hover i {
  color: #000;
}
.nav button#main__btn {
  margin: 0 1rem;
  padding: 0.9rem 1.875rem;
  border: 1px solid #dc4f72;
  border-radius: 4px;
  color: #dc4f72;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 0.5s;
}
.nav button#main__btn:hover {
  background-color: #dc4f72;
  color: #fff;
}
.nav button#main__btn:focus {
  outline: thin dotted;
  box-shadow: 0 0 0 0.2rem transparent;
}
.dropdown-toggle::after {
  vertical-align: middle;
}

.fa-sun,
.fa-moon {
  transform: rotate(-30deg);
  width: 10px;
}
#switchButton {
  box-shadow: 0 0 0 0.2rem transparent;
  font-size: 1.2rem;
  padding: 0;
}
/* Light theme */
#main {
  background-color: white;
}
#switchButton {
  background-color: white;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}

/* Dark Theme*/
.dark#main {
  background-color: black;
}
.dark #switchButton {
  background-color: black;
}
.dark #switchButton .fa-sun {
  display: block;
  color: white;
}
.dark #switchButton .fa-moon {
  display: none;
}
/* END HEADER */

/* START CAROUSEL */
.carousel {
  padding-top: 6.25rem;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0.92)),
    url(../img/banner_carousel.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel__content h1 {
  font-size: 3.125rem;
  color: #2c3038;
  font-weight: 700;
  line-height: 3.625rem;
}
.carousel__content p {
  font-size: 1.25rem;
  margin: 1rem 0 3rem;
}
.carousel__content .btn {
  padding: 0.75rem 1.875rem;
  border-radius: 0.31rem;
  color: #dc4f72;
  border: 1px solid #dc4f72;
  font-weight: 600;
  transition: all 0.5s;
}
.carousel__content .btn:hover {
  color: #fff;
  background-color: #dc4f72;
}
/* END CAROUSEL */

/* START TOOLS */
.tools__container {
  padding-top: 4rem;
  text-align: center;
}
.tools_title {
  width: 65%;
  margin: 0 auto 4rem;
}
.tools_title p {
  font-size: 1rem;
  color: #dc4f72;
  margin-bottom: 0.3125rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.25rem;
}
.tools_title h2 {
  font-size: 2.875rem;
  color: #2c3038;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
}

.tools__item h3 {
  color: #2c3038;
  font-size: 1.625rem;
  font-weight: 600;
  margin: 1rem 0;
  cursor: pointer;
}
.tools__card {
  padding: 3rem 2rem;
  background-color: #f7f9fc;
  border-radius: 0.375rem;
  transition: all 0.5s;
}
.tools__card img {
  cursor: pointer;
}
.tools__card:hover {
  background-color: #fff;
  transform: translateY(-1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

/*  start about */

.about .row p {
  color: #dc4f72;
  font-weight: 700;
}
.about h2 {
  letter-spacing: 1.5px;
}
.about__content .row img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform: translateY(0);
  transition: 0.4s;
}
.about__content .row img:hover {
  transform: translateY(-10px);
}
.about__content .row .read-more {
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
  cursor: pointer;
}
.about__content .btn-primary {
  color: white;
  background-color: #dc4f72;
  border-color: #dc4f72;
  transition: all 0.5s;
}
.about__content .btn:hover {
  background-color: #d62f58;
  border-color: #d62f58;
}

/* start number */

.number__item h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
}
.number__item p.counter {
  font-size: 50px;
  line-height: 1;
  font-weight: 700;
  color: #dc4f72;
  margin-bottom: 15px;
  margin-top: 10px;
}
.number__item {
  background-color: #fff;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #fff;
  transition: 0.5s;
}
.number__item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

/* start banner */

.banner__content {
  max-width: 550px;
}

.banner__content h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
}
.banner__content p {
  color: #fff;
}
.banner__content .them-button {
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px 30px;
  transition: all 0.5s;
}

#banner {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)),
    url("/img/1.jpg");
  background-repeat: initial;
  background-size: cover;
  background-position: center;
  min-height: 480px;
  align-items: center;
  padding: 80px 0px;
  background-attachment: fixed;
}
